*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --hue: 232;
  --fc-background: hsl(var(--hue), 17%, 62%);
  --sl-color: hsl(var(--hue), 0%, 100%);
  --bch1-color: hsl(var(--hue), 18%, 79%);
  --sc-background: hsl(var(--hue),100%,97%);
  --cc-color: hsl(var(--hue),17%,35%);


  --ff-body: 'Staatliches';
  --ff-sc: 'Palanquin'
}

body{
  font-family: var(--ff-body);
  font-style: normal;
  font-weight: 400;
  background-color: var(--sc-background);
  max-width: 39rem;
  padding: auto;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

header{
  background-color: var( --fc-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.4rem;
}



header img{
  margin-top: 3.2rem;
}

div.block{
  background-color: var(--bch1-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.2rem;
  margin-bottom: 2.9rem;
}

header h1{
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--sl-color);
  padding: 0.8rem;
  
}

main{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
 
}

main p{
  width: 30.5rem;
  margin-bottom: 2rem;
  size: 2rem;
  line-height: 1.5rem;
  font-family: var(--ff-sc);
}

.card{
  position: relative;
}

.card img{
  animation: topdown 1s 200ms backwards;
}

.card h2{
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 1.6rem;
  right: 1.6rem;

  color: var(--cc-color);
  background-color: var(--sl-color);

  border-radius: 2rem;
  padding: 0.1rem 2.3rem;

  line-height: 3.4rem;
  font-size: 2rem;
  letter-spacing: 0.05em;

  animation: downtop 800ms 200ms backwards;
}


@keyframes topdown{
  0%{
    opacity: 0;
    transform: translateY(15px);
  }

  100%{
    opacity: 100;
    transform: translate(0);
  }
}

@keyframes downtop{
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }
  100%{
    opacity: 100;
    transform: translatex(0);
  }
}